- @title = "6561 - Logged in! ✓"

%div{:style=>"text-align: center;"}
	%h2
		Success!
	%h4
		= "Welcome aboard, #{current_user.name}."
	%div
		= link_to "To the game", "/", {:style=>"position: static; margin-bottom: 50px;"}