- @title = "Success!"

%div{:style=>"text-align: center;"}
	%h2
		Success!
	%h4
		!= "Welcome aboard, #{@user[:name]}."
	%div
		= link_to "To the game", "/", {:style=>"position: static; margin-bottom: 50px;"}