- @title = 6561

%h2= @title
#abovegame
  %input{type: "button", value: "new game", id: "newgame"}
  #highscore
    highscore
  #score
    score

#game_container
  #board
    - build_game_board
  #tiles