- @title = 6561

%h2= @title
#abovegame
  %input{type: "button", value: "new game", id: "newgame"}
  #highscore
    highscore
    .highscore_value
      0
  #score
    score
    .score_value
      0

#game_container
  #board
    - build_game_board
  #tiles