- @title = 6561

%h2= @title
#abovegame
  %input{type: "button", value: "new game", class: "restarter"}
  #highscore
    highscore
    .highscore_value
      0
  #score
    score
    .score_value
      0

#game_container
  #board{ data: {size: board_size} }
    - build_game_board
  #tiles

.bottom_of_body