- @title = 6561

%h2= @title
#abovegame{ data: { size: board_size } }
  .button_wrap
    %input{type: "button", value: "new game", class: "restarter"}
    .board_size
      != select_tag('board_size_select', board_size_options)
  #highscore
    highscore
    .highscore_value
      0
  #score
    score
    .score_value
      0

#game_container{ class: "size_#{board_size}" }
  #board{ data: {size: board_size} }
    - build_game_board
  #tiles

.bottom_of_body