@import "common"

body
  font-size: 20px
  width: 860px
  margin: 0 auto
  background-color: #181f26
  
  #borderer
    background-color: #6f717e
    padding: 30px

  #main
    background-color: #C6C2D3
    padding-bottom: 50px
    border-radius: 5px
    border: solid #C6C2D3 1px
    position: relative

.log_box
  position: absolute
  right: 15px
  top: 15px
  min-width: 150px
  font-size: 14px

  .login_form
    border: solid black 3px
    padding: 5px
    background-color: #F0EBFF
    width: 200px

h2, h3
  font-size: 250%
  text-align: center
  padding-top: 25px

h2
  margin-bottom: 80px

a
  text-decoration: none
a:visited
  color: blue

.restarter, #board_size_select
  margin: 15px 0
  height: 30px
  width: 150px

#abovegame
  position: relative
  .button_wrap
    margin: 30px
    display: inline-block
  .score_wrap
    display: inline-block
    position: absolute
    right: 15px
    bottom: 15px
    #score, .highscore
      float: right
      margin: 15px
      height: 60px
      width: 180px
      font-size: 24px
      background-color: #9e9aab
      text-align: center
      padding: 4px
      border-radius: 5px
      .whose_score
        overflow: hidden
        font-size: 20px
        position: absolute
        top: -21px
        right: 20px
        height: 36px
        width: 180px
        p
          width: 180px
          text-align: center
          margin: 0
          position: absolute
          top: 50px
          @include move-p
      .highscore_value, .score_value
        font-size: 18px
        padding: 6px
    #personal_highscore:after
      content: "Click to show all users highscore."
      font-size: 12px
    #all_users_highscore:after
      content: "Click to show current user highscore."
      font-size: 12px
    .highscore:hover, .highscore:focus
      div
        .slider
          top: 8px
          @include move-p

#highscores_table
  position: relative
  width: 50%
  margin: auto
  padding-bottom: 50px
  table
    width: 100%
    border-collapse: collapse
    th, td
      border: 1px black solid
      font-size: 16px
      margin: 0
      height: 20px
      padding: 2px 4px
      text-align: left

.profile_box
  min-height: 360px
  div
    position: relative
    border-bottom: solid black 1px
    min-height: 80px
  .ranker
    padding-bottom: 15px
    p
      margin-left: 30px
  p
  .right
    margin: 29px
    position: absolute
    right: 0
  .left
    margin: 29px
    position: absolute
    left: 0

#highscore_link
  position: absolute
  right: 15px
  margin: 15px

#how_to_play
  height: 1000px
  width: 100%
  position: fixed
  top: 0
  left: 0
  background-color: rgba(80, 80, 80, 0.9)
  z-index: 9999

  .instruct_box
    line-height: 24px
    position: relative
    margin: 200px auto
    height: 700px
    width: 500px
    background-color: lightgray
    border: solid black 5px
    overflow: scroll

    p
      margin: 15px

    h4
      margin: 15px

    a
      position: absolute
      right: 5px
      margin: 15px

#signup_form
  margin: 10px

  label
    margin-bottom: 3px

  input
    margin-bottom: 3px

.error
  display: table
  padding: 5px
  margin-bottom: 5px
  background-color: rgba(255, 0, 0, 0.5)
  border: solid red 3px

.success
  padding: 5px

.field_with_error
  display: inline-block

label
  display: block

input
  display: block

@for $board_size from 1 through 12
  #game_container.size_#{$board_size}
    position: relative
    width: $board_size * 120px
    height: $board_size * 120px
    max-width: 720px
    max-height: 720px
    margin: 5px auto 0
    border: 3px #000000 solid
    font-size: 0

    #board
      z-index: 1
      position: absolute
      width: 100%
      height: 100%
      background-color: #b0b6bc

      .board_row
        width: 100%
        height: percentage(5 / 6 / $board_size)
        display: inline-block

        .board_cell
          background-color: #80868c
          margin: 0 percentage(1 / 12 / $board_size) 0
          float: left
          height: 100%
          width: percentage(5 / 6 / $board_size)
          border-radius: 4px

    .tile
      z-index: 2
      position: relative
      height: percentage(5 / 6 / $board_size)
      width: percentage(5 / 6 / $board_size)
      border-radius: 4px

      .tile_value
        position: absolute
        width: 100%
        @if $board_size <= 6
          font-size: 33px
        @else
          font-size: 720px * (5 / 18 / $board_size)
        top: 33%
        text-align: center

    #game_over
      z-index: 3
      position: relative
      width: 70%
      height: 70%
      padding: 15%
      background-color: rgba(128, 128, 128, 0.75)
      font-size: 50px
      text-align: center
      opacity: 0

      .restarter
        display: block
        margin: 25% auto


    @for $j from 1 through $board_size
      .row#{$j}
        position: absolute
        top: percentage((1 / 12 + $j - 1) / $board_size)
        @include move-tile()

    @for $j from 1 through $board_size
      .column#{$j}
        position: absolute
        left: percentage((1 / 12 + $j - 1) / $board_size)
        @include move-tile()

.power1
  background-color: #ff8

.power2
  background-color: #ff0

.power3
  background-color: #fa0

.power4
  background-color: #f30

.power5
  background-color: #d2d

.power6
  background-color: #26f

.power7
  background-color: #4a6

.power8
  background-color: #555
  color: white

.power9
  background-color: #333
  color: white

@for $p from 10 through 20 
  .power#{$p}
    background-color: #000
    color: white