@import "common"

$board_size: 6

body
  width: 800px
  margin: 2.5% auto 0
  background-color: #808080

.bottom_of_body
  height: 50px
  background-color: #b0b0b0

#main
  background-color: #b0b0b0

h2
  text-align: center
  padding: 25px

.restarter
  display: inline-block
  margin: 15px
  height: 30px
  width: 150px

#score, #highscore
  float: right
  margin: 15px
  height: 30px
  width: 150px


#game_container
  position: relative
  width: $board_size * 120px
  height: $board_size * 120px
  max-width: 720px
  max-height: 720px
  margin: 5px auto 0
  border: 3px #000000 solid
  font-size: 0

  #board
    position: absolute
    left: 50%
    margin-left: -50%
    width: 100%
    height: 100%
    background-color: #c0c0c0

    .board_row
      width: 100%
      height: percentage(5 / 6 / $board_size)
      display: inline-block

      .board_cell
        background-color: #909090
        margin: 0 percentage(1 / 12 / $board_size) 0
        float: left
        height: 100%
        width: percentage(5 / 6 / $board_size)

    .afirst_row
      margin: percentage(1 / 12 / $board_size) 0 0

  .tile
    position: relative
    height: percentage(5 / 6 / $board_size)
    width: percentage(5 / 6 / $board_size)

    .tile_value
      position: absolute
      width: 100%
      font-size: 25px
      top: 37.5%
      text-align: center

  #game_over
    z-index: 1
    width: 70%
    height: 70%
    padding: 15%
    background-color: #888
    opacity: 0.75
    font-size: 50px
    text-align: center

    .restarter
      display: block
      margin: 25% auto


  @for $i from 1 through $board_size
    .row#{$i}
      position: absolute
      top: percentage((1 / 12 + $i - 1) / $board_size)
      @include move-tile()

  @for $i from 1 through $board_size
    .column#{$i}
      position: absolute
      left: percentage((1 / 12 + $i - 1) / $board_size)
      @include move-tile()

  .power1
    background-color: #ff8

  .power2
    background-color: #ff0

  .power3
    background-color: #f80

  .power4
    background-color: #f00

  .power5
    background-color: #d0d

  .power6
    background-color: #08f

  .power7
    background-color: #999

  .power8
    background-color: #888

  .power9
    background-color: #777

  .power10
    background-color: #666

  .power11
    background-color: #555

  .power12
    background-color: #444

  .power13
    background-color: #333

  .power14
    background-color: #222

  .power15
    background-color: #111

  .power16
    background-color: #000